<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>quotemachine.js</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="../css/reset.css" rel="stylesheet" />
        <link href="../css/styles.css" rel="stylesheet" />
        <script src="../js/jquery-3.1.1.min.js"></script>
        <script src="../js/scripts.js"></script>
    </head>
    <body>
        <div class="content-wrapper">
            <header class="filename">
                <a href=".">~/kjswalls/quotemachine.js</a>
            </header>
        <div class="code-wrapper">
            <div class="line">
                <span class="let">let </span>
                <span class="varname">author </span>
                <span class="assignment">= </span>
                <span class="string" id="author"></span><span class="punctuation semi">;</span>
            </div>
            <div class="line">
                <span class="let">let </span>
                <span class="varname quote">quote </span>
                <span class="assignment">= </span>
                <span class="string" id="quote"></span><span class="punctuation semi">;</span>
            </div>
            <div class="line">
            </div>
            <div class="line">
                <a href="#" id="new">
                    <span class="punctuation">newQuote();
                    </span>
                </a>
            </div>
            <div class="line">
                <a href="#" id="tweet">
                    <span class="punctuation" id="tweet">
                        tweetThisQuote();
                    </span>
                </a>
            </div>
        </div>
        </div>
    </body>
</html>
